@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.space{
  height: 10vh;
}
.same{
  width: 50%;
  
}
.checked {
  color: orange;
}
.same img{
  width:90%;
  height:auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title{
  color:#4B01D4;
}
.title img{
  width:1.7rem;
  height:1.7rem;
  border-radius: 50%;
}
.save:hover{
  cursor: pointer;
}
.save:hover p{
  text-decoration: underline;
}